body{
    text-align: center;
}
button{
    background-color: #1DB954;
    color: white;
    margin: 3px;
}
.current-track {
    width: 400px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
