<!DOCTYPE html>

<html>

<!--info about the webpage-->
<head>
    <title>Groupify</title>

    <!--make webpage scale on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" style="margin-bottom: 15px;">
    <input @fadeIn @expandWidth type="text" placeholder="Search songs" formControlName="search" />
    <button @fadeIn ba type="submit" >Search</button>
  </form>

  <div style="border: 5px" *ngFor="let track of searchResults">
    {{track.name}}
    <button (click)="addToQueue(track.id)">Add</button>
  </div>
  <!-- <div class="search-section__input-container">
    <input class="search-section__input" type="text" id="inputSearch" placeholder="Search artist or track" (keyup)="search(searchTerm.value)" (keydown.backspace)="search(searchTerm.value)" #searchTerm>
  </div> -->

  <div class="current-track" *ngIf="current_track" @expandUp @fadeIn style="margin: 0 auto; display: table;">
    <mat-card class="current-track"> 
      <mat-card-header>
        <mat-card-title-group style="margin: 5px;" >
          <img mat-card-sm-image [src]="current_track.album.images[0].url" alt="" />
          <mat-card-title style="color: black;">{{ current_track.name }}</mat-card-title>
          <mat-card-subtitle>{{ current_track.artists[0].name }}</mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </div>

    <button @expandUp @fadeIn mat-fab extended (click)="onPlay()">Play</button>
    <button @expandUp @fadeIn mat-fab extended (click)="onNext()">Next</button>
    <button @expandUp @fadeIn mat-fab extended (click)="onPrevious()">Previous</button>
</body>
</html>
