body, html{
    height: 100%;
    width: 100%;
    background-image: url(assets/papyrus-dark.webp);
    color: white;
}
header{
    background-image: url(assets/papyrus-dark.webp);
    color: white;
}
hr{
    text-align: center;
}