/* You can add global styles to this file, and also import other style files */

html {
	background-color: #141414;
	color: #ffffff;
}
html, body { height: 90%; }
h1, div, p{
    text-align: center;
}
body { 
    margin: 10; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
a {
    background-color: green;
}
.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}