<!DOCTYPE html>

<html>

<!--info about the webpage-->
<head>
    <title>Groupify</title>

    <!--make webpage scale on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-- <body style="background-color: black;"> -->
<body>
    <div class="container">
        <!-- <h1 style="color: whitesmoke">{{title}}</h1> -->
        <h1>Groupify</h1>

        <img src="assets/black-logo.png" height="50" alt="Spotify logo">

        <hr>

        <form action="">    
            <div>
                <input type="text" id="pin" name="pin" placeholder="Session PIN">
            </div>

        </form>
        <div>
            <a href="https://open.spotify.com/?" target=_blank title="For now, this takes you to Spotify"> 
                <!-- <button mat-fab extended class="join-button"> -->
                <button class="join-button">
                    Join
                </button>
            </a>
        </div>
        <small>
            or
            <br>
            <a href={{loginUrl}} title="Login to Spotify">
                Login to Spotify to host a session
            </a>
        </small>
    </div>
</body>
</html>