.container {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }