<!DOCTYPE html>

<html>

<!--info about the webpage-->
<head>
    <title>Groupify</title>

    <!--make webpage scale on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1 font><img src="assets/white-logo.png" height="30" alt="Spotify logo">Groupify</h1>

        <hr>

        <br>
        <a mat-button href="{{loginUrl}}" title="Login to Spotify">
            Login to Spotify to listen
        </a>
    </div>
</body>
</html>
