<!DOCTYPE html>


<html>


<!--info about the webpage-->
<head>
    <title>Groupify</title>


    <!--make webpage scale on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1 style="font-size: 40px;" @fadeIn><img src="assets/white-logo.png" height="30" alt="Spotify logo" @fadeIn>Groupify</h1>


        <hr style="width: 350px;" @expandWidth @fadeIn>


        <form action="">    
            <div>
                <input type="number" placeholder="Session PIN" style="margin-right: 10px" @fadeIn @expandWidth>
                <a mat-fab extended href="" target=_blank title="Join" @expandUp @fadeIn>
                    Join
                </a>    
            </div>


        </form>
        <body style="height: 10px;" @fadeIn>or</body>
        <br>
        <a mat-button title="Host" @expandUp @fadeIn>
            Host
        </a>
    </div>
</body>
</html>