<!DOCTYPE html>

<html>

<!--info about the webpage-->
<head>
    <title>Groupify</title>

    <!--make webpage scale on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <h1 font><img src="assets/white-logo.png" height="30" alt="Spotify logo">Groupify</h1>

        <hr>

        <form action="">    
            <div>
                <input type="number" placeholder="Session PIN" style="margin-right: 10px">
                <a mat-fab extended href="" target=_blank title="Join">
                    Join
                </a>    
            </div>

        </form>
        or
            <br>
            <a mat-button routerLink="/host" title="Host" (onClick)="createSession()">
                Host
            </a>
    </div>
    <!-- <div class="app-example-params">
        <h2>queryParams</h2>
        <pre>{{ queryParams|json }}</pre>
        <h2>code:</h2>
        <pre>{{code}}</pre>
        <h2>state:</h2>
        <pre>{{state}}</pre>
    </div> -->
</body>
</html>
