


<!DOCTYPE html>
<html>
<head>
    <title>Spotify Web Playback SDK Quick Start</title>
</head>
<body>
    <h1>Spotify Web Playback SDK Quick Start</h1>
    <button id="togglePlay">Toggle Play</button>
    <div style="margin: 20px;">
        <input type="text" placeholder="Session PIN">
        <button mat-fab extended class="join-button">
            Join
        </button>
    </div>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script>
        window.onSpotifyWebPlaybackSDKReady = () => {
            const token = 'BQDCjOK0y-XqFVIng6kwA0lEQ01b7LaVjZ8j0uqAnpgqsEfwrAagCWp6tlezcU2blbzMzBWuqHZ-sZ-25feHk6f8x2xNIdEVUWm5kZdmEDWRmQTsl_SB4S5-7ZFdc6x2v7Llk7izhmI2r8BAmoo5FER5PGP7eGPHcMSGionidMJe8s5EyyjhF9Ndsqy50MYfXQ';
            const player = new Spotify.Player({
                name: 'Web Playback SDK Quick Start Player',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                console.log('Ready with Device ID', device_id);
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                console.log('Device ID has gone offline', device_id);
            });

            player.addListener('initialization_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('authentication_error', ({ message }) => {
                console.error(message);
            });

            player.addListener('account_error', ({ message }) => {
                console.error(message);
            });

            document.getElementById('togglePlay').onclick = function() {
              player.togglePlay();
            };

            player.connect();
        }
    </script>
</body>
</html>
