
<!DOCTYPE html>
<html>
<head>
    <title>Spotify Web Playback SDK Quick Start</title>   
</head>
<body>
    <h1>
        Groupify
    </h1> 
    <p>
        <a mat-fab extended color="warn" href="https://www.google.com/">
            <mat-icon>home</mat-icon>
            Create a Session
        </a>
    </p>
    <p>
        Or<br>
        Join Existing Session
    </p>
    <div style="margin: 20px;">
        <input type="number" placeholder="Session PIN" style="margin-right: 10px">
        <a mat-fab extended color="warn">
            Join
        </a>
    </div>
</body>
</html>
