body, header, html{
    background-color: black;
}
header{
    color: whitesmoke;
    margin-top: 5px;
}
.session-pin {
    margin: auto;
      width: 50%;
      padding: 10px;
      text-align: center;
  } 